<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>

  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= nav_bar fixed: :top, brand: 'Animal Rescue', responsive: true do %>
    <%= menu_group do %>
      <%= menu_item 'Home', root_path %>
      <%= menu_item 'About', '' %>
      <%= menu_item 'Contact', '' %>
    <% end %>
  <% end %>

  <div class="container">
      <%= yield %>
  </div>
</body>
</html>
